:root {
  --active-color: #02a1bd;
  --button-color: #26c1dc;
  --blue: #0097b2;
  --navbar-background: #0b0f13;
  --input-shadow: #10e9f89c;
  --white: #F6F6F7;
  --gray: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}